html, body {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.containerMain {
    display: flex;
    flex-direction: column;
}

.containerInfo {
    margin-top: 10px;
}

.containerSunsetSunrise {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 2em;
}

.sunTime {
    margin-left: 5px;
}
.itemSunsetSunrise {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCurrentTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTemperature {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-weight: 900;
}
.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
}
.containerCurrentTempUnit{
    font-weight: 900;
    padding: 5px;
    margin-top: 10px;
}
.containerMaxMinTemp {
    padding: 5px;
    margin-bottom: 5px;
}
.containerCity {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 500;
}

.containerSearched{
    display: flex;
    justify-content: center
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --grey: rgb(31,31,31);
    --white: #f4f4f4;
}
.pe-lg {
    font-size: 3rem;
    font-weight: 900;
    color: var(--grey);
}

/* MAIN AREA */

.body {
    background-image: url('images/clear.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.container {
    display: flex;
    padding: 2.2em;
    justify-content: space-between;
}

.containerHeaderCloudy {
    display: flex;
    align-items: center;
}

.containerHeaderWindy {
    display: flex;
    align-items: center;
}

.containerHeaderHumidity {
    display: flex;
    align-items: center;
}

.data {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey);
}

.containerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherIcon {
    font-size: 10rem;
}

.weatherDescription{
    font-size: 1.2rem;
}
