@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--grey);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    --grey: rgb(31,31,31);
    --white:rgb(240,255,255);
}


/* MAIN AREA */

.body {
    background-image: url('images/clear.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(98, 116, 81, 0.5);
}

.container {
    display: flex;
    justify-content: space-between;
}

/* HEADER CONTAINER AREA */

.containerHeader{
    width: 100vw;
    height: 6vh;
    margin-bottom: 1.5em;
    padding: 2rem;
}

.containerHeaderCloudy {
    display: flex;
    align-items: center;
}

.containerHeaderWindy {
    display: flex;
    align-items: center;
}

.containerHeaderHumidity {
    display: flex;
    align-items: center;
}

.data {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    text-shadow: 2px 2px 4px var(--black);
}

.containerHeaderSunsetSunrise {
    display: none;
}

/* CLASS ICONS */
.pe-sm {
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px var(--black);
}

/* MAIN CONTAINER AREA */

.containerMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
}

.containerSunsetSunrise {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pe-7w-sunset {
    margin-left: 1rem;
}

.containerTemperature {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem 0;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px var(--black);
    margin-right: 0.2rem;
}
.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.containerCurrentTempUnit{
    margin-top: 10px;
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px var(--black);
}

.containerMaxMinTemp {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px var(--black);
    padding: 5px;
    margin-bottom: 5px;
}

.containerCity {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px var(--black);
    font-weight: 700;
    margin: 0.5rem 0;
}

.containerCurrentTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-shadow: 2px 2px 4px var(--black);
    letter-spacing: -0.8px;
}


.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.currentHour {
    font-size: 1.2rem;
    margin-top: .5rem;
}

/* ICON CONTAINER AREA */

.containerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .4rem;
}

.weatherIcon {
    font-size: 3.2rem;
}

.weatherDescription{
    font-size: 1rem;
    text-shadow: 2px 2px 4px var(--black);
    letter-spacing: -0.8px;
}

/* SEARCH CONTAINER AREA */

.containerSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
}

.citySearch {
    width: 70vw;
    /* line-height: 5vh; */
    border: 3px solid transparent;
    background: linear-gradient(360deg, #c5c9c9 20%, #f4f4f4 360%);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: 2px 2px 4px var(--black);
}

.citySearch:focus {
    border: 2px solid gray;
    background: linear-gradient(360deg, #dee1e1 20%, #f4f4f4 360%);
    outline: none;
}

.containerSearch div {
    width: 80%;
    height: max-content;
    padding: 0px;
}
.containerSearch ul {
    width: 70vw;
    /* position: absolute;
    height: 5vh; */
    border-radius: 10px;
    
}
.myCitiesFinded {
    border: 3px solid transparent;
    background: linear-gradient(360deg, #c5c9c9 20%, #f4f4f4 360%);
    padding: 5px 10px;
}
.myCitiesFinded:first-child {
    border-radius: 10px 10px 0 0;
}
.myCitiesFinded:last-child {
    border-radius: 0 0 10px 10px;
    margin-bottom: 1rem;
}

/* .containerColorTemp {
    margin-top: 22px;
    width: 5px;
    height: 50px;
    background-image: linear-gradient(red, orange, yellow, green, blue, white);
}

.itemColorTemp {
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 10px;
} */


/* MEDIA QUERIES */
@media (min-width: 500px) {
    .containerHeader{
        width: 40vw;
        justify-content: flex-start;
    }

    .data {
        font-size: 1rem;
    }

    .containerHeaderCloudy {
        margin-right: 1.2rem;
    }

    .containerHeaderWindy {
        margin-right: 1.2rem;
    }
    
    .containerSunsetSunrise {
        display: none;
    }

    .containerHeaderSunsetSunrise {
        width: 40vw;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem;
    }

    .pe-sm {
        font-size: 2rem;
    }
    .ity {
        margin-top: 1rem;
    }

    .containerTemperature {
        margin-top: 2rem;
    }

    .currentTempUnit{
        font-size: 1.8rem;
    }

    .containerMaxMinTemp{
        font-size: 1.4rem;
    }

    .containerLeft {
        font-size: 3.8rem;
    }

    .containerCity {
        font-size: 2.2rem;
        margin-bottom: 0.8rem;
        margin-top: 2.5rem;
    }

    .date {
        font-size: 1.4rem;
    }

    .weatherIcon {
        font-size: 4.5rem;
    }

    .citySearch {
        width: 65vw;
        /* height: 6vh; */
        margin-top: 4rem;
        font-size: 16px;
    }
    .containerSearch ul {
        width: 65vw;
        /* position: absolute;
        height: 5vh; */
    }
}

@media (min-width: 750px) {

    .containerIcon {
        display: none;
    }

    .data {
        font-size: 1.8rem;
    }

    .containerHeaderCloudy {
        margin-right: 1.4rem;
    }

    .containerHeaderWindy {
        margin-right: 1.4rem;
    }

    .pe-sm {
        font-size: 2.2rem;
    }

    .currentTempUnit{
        font-size: 2.4rem;
    }

    .containerMaxMinTemp{
        font-size: 1.8rem;
    }

    .containerLeft {
        font-size: 5.5rem;
    }

    .containerCity {
        font-size: 3rem;
    }

    .date {
        font-size: 1.8rem;
    }

    .currentHour {
        font-size: 1.8rem;
        margin-top: .8rem;
    }

    .weatherIcon {
        font-size: 7rem;
    }

    .weatherDescription{
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) {

    .citySearch {
        width: 56vw;
        height: 7vh;
        margin-top: 5rem;
    }
}