<<<<<<< HEAD
html, body {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.containerHeader {
    width: 100%;
    height: 200px;
    background-color: blue;
}

.containerCurrentTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTemperature {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: burlywood;
    padding: 20px 0px;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 900;
    background-color: cadetblue;
}
.containerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: coral;
    font-size: 1.5em;
}
.containerCurrentTempUnit{
    background-color: crimson;
}
.containerMaxMinTemp {
    background-color: cyan;
}
.containerCity {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 500;
    background-color: darkgoldenrod;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--dark);
}

html {
    font-size: 62.5%; /* 1 rem == 10 px*/
}

:root {
    --grey: rgb(31,31,31);
    --white: #f4f4f4;
}
.pe-lg {
    font-size: 3rem;
    font-weight: 900;
    color: var(--grey);
}

/* MAIN AREA */

body {
    background-image: url('images/clear.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.container {
    display: flex;
    padding: 2.2em;
    justify-content: space-between;
}

.containerHeaderCloudy {
    display: flex;
    align-items: center;
}

.containerHeaderWindy {
    display: flex;
    align-items: center;
}

.containerHeaderHumidity {
    display: flex;
    align-items: center;
}

.data {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--grey);
}

.containerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weatherIcon {
    font-size: 10rem;
}

.weatherDescription{
    font-size: 1.2rem;
}
>>>>>>> e4402e2457ce6cdc25193febc7a6be368a5c0c93
